<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="fullName">Full Name</label>
        <input type="text" formControlName="fullName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }" />
        <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
            <div *ngIf="f.fullName.errors.required">Full Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="idNumber">ID Number</label>
        <input type="text" formControlName="idNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.idNumber.errors }" />
        <div *ngIf="submitted && f.idNumber.errors" class="invalid-feedback">
            <div *ngIf="f.idNumber.errors.required">ID Number is required</div>
            <div *ngIf="f.idNumber.errors.pattern">ID Number must be 13 digits</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="/welcome" class="btn btn-link">Cancel</a>
    </div>
</form>
